<% content_for :title, "グループ｜一覧" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <div class="u-inner-3">
    <h1 class="u-title">グループ一覧</h1>
    <div class="u-table">
      <table>
        <tbody>
          <tr>
            <td>
              
            </td>
            <td>
              <div class="u-inactive">フォローする</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>