<menu class="u-menu">
  <li>
    <a href="#title" class="js-jump">タイトル</a>
  </li>
  <li>
    <a href="#code" class="js-jump">コード</a>
  </li>
  <li>
    <a href="#description" class="js-jump">解説</a>
  </li>
</menu>