<% content_for :title, "コード一覧" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>

<section class="u-sec">
  <div class="u-inner-3">
    <h1 class="u-title">コード一覧</h1>
    <%= render 'public/shared/posts', posts: @posts %>
    <div class="u-btn-wrap u-mt-50">
      <%= link_to new_post_path, class: "u-btn" do %>
        <i class="fa-solid fa-square-plus"></i> コード投稿
      <% end %>
    </div>
  </div>
</section>