<% content_for :title, "投稿｜test" %>
<div class="u-col2" id="js-col2-root">
  <div class="u-col2-main">
    <div class="u-col2-main-inner">
      <h1 class="u-title u-pt-50">test</h1>

      <section class="u-sec">
        <div class="u-inner-4">
            <h2 class="u-title-1">セクションタイトル</h2>
        </div>
      </section>
    </div>
  </div>

  <aside class="u-col2-side">
    <button id="js-col2-drawer" class="u-btn-1 type-1 opt-size-s u-col2-drawer" aria-label="サイドメニューを開閉する ">
      <span class="icon-right">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <span class="icon-left">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </button>

    <div class="u-col2-side-content">
      <div class="u-col2-side-inner">
        <div class="u-side">
          <div class="u-side-body">
            <menu class="u-menu">
                <li>
                  <a href="#">リンク</a>
                </li>
            </menu>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>