@import "../base/mixins";
@import "../base/val";

// 詳細ページ
.p-show {
  .p-title{
    font-weight: bold;
    line-height: 1.4;
    @include pc {
      font-size: 4.2rem;
    }
    @include sp {
      font-size: 2.4rem;
    }
  }
}