@import "../base/mixins";
@import "../base/val";

// ユーザー詳細ページ
.p-user {
  &-image {
    text-align: center;
    img {
      border-radius: 1rem;
      width: 20rem;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
    }
  }
  &-introduction{
    &:empty {
      display: none;
    }
  }
  &-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); /* 50%幅の2カラム */
    // gap: 16px;
    justify-content: start;
    margin: 0 -1px -1px 0;
    li {
      text-align: center;
      border: 1px solid $d-color-border-active;
      margin-left: -1px; /* 左ボーダー重なり解消 */
      margin-top: -1px;  /* 上ボーダー重なり解消 */
    }
    a {
      padding: 1em;
      display: block;
      background:  $d-color-border;
      @include hover {
        filter: brightness($light);
      }
      &.u-inactive {
        background-color: $d-color-bg-inactive;
      }
    }
  }
  &-item {
    &s {
      display: grid;
      gap: 3rem 1.5rem;
      @include pc {
        grid-template-columns: repeat(2, 1fr);
      }
      @include sp {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &-figure {
      img {
        width: 100%;
      }
    }
    &-caption {
      font-weight: bold;
      margin-top: 0.5rem;
      line-height: 1.4;
      font-size: 1.25em;
    }
    &-desc {
      font-size: 1.4rem;
      margin-top: .5rem;
    }
    .u-btn {
      &-wrap {
        margin-top: 1rem;
      }
    }
  }
  .u-title {
    text-align-last: left;
    margin-bottom: 2rem;
  }
}

// ユーザー編集ページ
.p-edit {
  &-field-wrap {
    + .p-edit-field-wrap {
      margin-top: 2rem;
    }
  }
}
