<section class="u-sec">
  <div class="u-inner">
    <h1 class="u-title">推しのコード</h1>

    <div class="u-btn-wrap u-vert-20">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "u-btn opt-size-l" do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
        <% end %>
      <% else %>
        <%= link_to users_guest_sign_in_path, class: "u-btn opt-size-l", method: :post do %>
          <i class="fa-solid fa-arrow-right-to-bracket"></i> ゲストログイン（閲覧用）
        <% end %>

        <%= link_to new_user_session_path, class: "u-btn opt-size-l" do %>
          <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
        <% end %>

        <%= link_to new_user_registration_path, class: "u-btn opt-size-l" do %>
          <i class="fa-solid fa-user-plus"></i> サインアップ
        <% end %>
      <% end %>
    </div>
  </div>
</section>