@mixin sp() {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin pc() {
	@media screen and (min-width: calc(768px)) {
		@content;
	}
}

// カラム割
// $division: 列数, $marginLeft: 水平方向マージン, $marginTop: 垂直方向マージン
@mixin setColumn($division: 4, $marginLeft: 5%, $marginTop: $marginLeft) {
	display: flex;
	flex-wrap: wrap;
	> * {
		width: calc((100% - #{$marginLeft} * (#{$division} - 1)) / #{$division});
		&:not(:nth-child(#{$division}n + 1)) {
			margin-left: $marginLeft;
		}
		&:nth-child(n + #{$division + 1}) {
			margin-top: $marginTop;
		}
	}
}

// ホバー
// aにhref属性がある場合・buttonがenabledの場合・summaryである場合にのみホバーイベントをかけることができる。
@mixin hover {
	@media (hover: hover) {
		&:where(:any-link, :enabled, summary):hover {
			@content;
		}
	}
}