// パーツ

.u-{
  $step: 5; // 刻み

  // マージン
  @for $i from 0 through 30 {
		&mt-#{$i * $step} {
			margin-top: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&mr-#{$i * $step} {
			margin-right: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&mb-#{$i * $step} {
			margin-bottom: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&ml-#{$i * $step} {
			margin-left: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&mX-#{$i * $step} {
			margin-left: calc(#{$i * $step / 10} * 1rem) !important;
			margin-right: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&mY-#{$i * $step} {
			margin-top: calc(#{$i * $step / 10} * 1rem) !important;
			margin-bottom: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&vert-#{$i * $step} {
			> *:not(:first-child) {
				margin-top: calc(#{$i * $step / 10} * 1rem) !important;
			}
		}
	}
  &mt-auto {
		margin-top: auto !important;
	}
	&mr-auto {
		margin-right: auto !important;
	}
	&ml-auto {
		margin-left: auto !important;
	}
	&mb-auto {
		margin-bottom: auto !important;
	}
	&mX-auto {
		margin-right: auto !important;
		margin-left: auto !important;
	}
	&mY-auto {
		margin-top: auto !important;
		margin-bottom: auto !important;
	}
  @include pc {
    @for $i from 0 through 30 {
      &pc\:mt-#{$i * $step} {
        margin-top: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:mr-#{$i * $step} {
        margin-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:mb-#{$i * $step} {
        margin-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:ml-#{$i * $step} {
        margin-left: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:mX-#{$i * $step} {
        margin-left: calc(#{$i * $step / 10} * 1rem) !important;
        margin-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:mY-#{$i * $step} {
        margin-top: calc(#{$i * $step / 10} * 1rem) !important;
        margin-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:vert-#{$i * $step} {
        > *:not(:first-child) {
          margin-top: calc(#{$i * $step / 10} * 1rem) !important;
        }
      }
    }
    &pc\:mt-auto {
      margin-top: auto !important;
    }
    &pc\:mr-auto {
      margin-right: auto !important;
    }
    &pc\:ml-auto {
      margin-left: auto !important;
    }
    &pc\:mb-auto {
      margin-bottom: auto !important;
    }
    &pc\:mX-auto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    &pc\:mY-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
  }
  @include sp {
    @for $i from 0 through 30 {
      &sp\:mt-#{$i * $step} {
        margin-top: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:mr-#{$i * $step} {
        margin-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:mb-#{$i * $step} {
        margin-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:ml-#{$i * $step} {
        margin-left: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:mX-#{$i * $step} {
        margin-left: calc(#{$i * $step / 10} * 1rem) !important;
        margin-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:mY-#{$i * $step} {
        margin-top: calc(#{$i * $step / 10} * 1rem) !important;
        margin-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:vert-#{$i * $step} {
        > *:not(:first-child) {
          margin-top: calc(#{$i * $step / 10} * 1rem) !important;
        }
      }
    }
    &sp\:mt-auto {
      margin-top: auto !important;
    }
    &sp\:mr-auto {
      margin-right: auto !important;
    }
    &sp\:ml-auto {
      margin-left: auto !important;
    }
    &sp\:mb-auto {
      margin-bottom: auto !important;
    }
    &sp\:mX-auto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    &sp\:mY-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
  }

  // パディング
  @for $i from 0 through 30 {
		&p-#{$i * $step} {
			padding: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&pt-#{$i * $step} {
			padding-top: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&pr-#{$i * $step} {
			padding-right: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&pb-#{$i * $step} {
			padding-bottom: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&pl-#{$i * $step} {
			padding-left: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&pX-#{$i * $step} {
			padding-left: calc(#{$i * $step / 10} * 1rem) !important;
			padding-right: calc(#{$i * $step / 10} * 1rem) !important;
		}
		&pY-#{$i * $step} {
			padding-top: calc(#{$i * $step / 10} * 1rem) !important;
			padding-bottom: calc(#{$i * $step / 10} * 1rem) !important;
		}
	}
  @include pc {
    @for $i from 0 through 30 {
      &pc\:p-#{$i * $step} {
        padding: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:pt-#{$i * $step} {
        padding-top: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:pr-#{$i * $step} {
        padding-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:pb-#{$i * $step} {
        padding-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:pl-#{$i * $step} {
        padding-left: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:pX-#{$i * $step} {
        padding-left: calc(#{$i * $step / 10} * 1rem) !important;
        padding-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &pc\:pY-#{$i * $step} {
        padding-top: calc(#{$i * $step / 10} * 1rem) !important;
        padding-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
    }
  }
  @include sp {
    @for $i from 0 through 30 {
      &sp\:p-#{$i * $step} {
        padding: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:pt-#{$i * $step} {
        padding-top: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:pr-#{$i * $step} {
        padding-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:pb-#{$i * $step} {
        padding-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:pl-#{$i * $step} {
        padding-left: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:pX-#{$i * $step} {
        padding-left: calc(#{$i * $step / 10} * 1rem) !important;
        padding-right: calc(#{$i * $step / 10} * 1rem) !important;
      }
      &sp\:pY-#{$i * $step} {
        padding-top: calc(#{$i * $step / 10} * 1rem) !important;
        padding-bottom: calc(#{$i * $step / 10} * 1rem) !important;
      }
    }
  }

  // タイトル
  &title {
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 5rem;
    @include pc {
      font-size: 4.2rem;
    }
    @include sp {
      font-size: 2.4rem;
    }
    &-1 {
      font-weight: bold;
      line-height: 1.4;
      border-bottom: 3px solid currentColor;
      margin-bottom: 3rem;
      @include pc {
        font-size: 3rem;
      }
      @include sp {
        font-size: 2rem;
      }
    }
    &-2 {
      font-weight: bold;
      line-height: 1.4;
      border-bottom: 2px solid currentColor;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
    &-3 {
      font-weight: bold;
      line-height: 1.4;
      border-bottom: 1px solid currentColor;
      margin-bottom: 1rem;
      @include pc {
        font-size: 1.8rem;
      }
      @include sp {
        font-size: 1.4rem;
      }
    }
  }

  // 文字色
  &c {
    &-red {
      color: $red !important;
    }
    &-blue {
      color: $blue !important;
    }
    &-black {
      color: $d-color-bg !important;
    }
    &-white {
      color: $d-color-font !important;
    }
  }

  // 文字色
  &bg {
    &-red {
      background-color: $red !important;
      color: $d-color-font !important;
    }
    &-blue {
      background-color: $blue !important;
      color: $d-color-font !important;
    }
    &-black {
      background-color: $d-color-bg !important;
      color: $d-color-font !important;
    }
    &-black-1 {
      background-color: $d-color-bg-1 !important;
      color: $d-color-font !important;
    }
    &-white {
      background-color: $d-color-font !important;
      color: $d-color-bg !important;
    }
    &-gray {
      background-color: $d-color-border !important;
      color: $d-color-font !important;
    }
    &-gray-1 {
      background-color: $d-color-border-active !important;
      color: $d-color-font !important;
    }
  }

  // フォントサイズ
  $fontSizeArray: 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32;
  @each $var in $fontSizeArray {
		&fz-#{$var} {
			font-size: calc(#{$var} / 10 * 1rem) !important;
		}
		@include pc {
			&pc\:fz-#{$var} {
				font-size: calc(#{$var} / 10 * 1rem) !important;
			}
		}
		@include sp {
			&sp\:fz-#{$var} {
				font-size: calc(#{$var} / 10 * 1rem) !important;
			}
		}
	}

  // ボーダー
  &bd {
		border: 1px solid currentColor;
		&t {
			border-top: 1px solid currentColor;
			&-none {
				border-top: none !important;
			}
		}
		&r {
			border-right: 1px solid currentColor;
			&-none {
				border-right: none !important;
			}
		}
		&b {
			border-bottom: 1px solid currentColor;
			&-none {
				border-bottom: none !important;
			}
		}
		&l {
			border-left: 1px solid currentColor;
			&-none {
				border-left: none !important;
			}
		}
		@for $i from 1 through 10 {
			&-#{$i} {
				border-width: #{$i}px !important;
				border-style: solid !important;
			}
			&t-#{$i} {
				border-width: #{$i}px !important;
				border-top-style: solid !important;
			}
			&r-#{$i} {
				border-width: #{$i}px !important;
				border-right-style: solid !important;
			}
			&b-#{$i} {
				border-width: #{$i}px !important;
				border-bottom-style: solid !important;
			}
			&l-#{$i} {
				border-width: #{$i}px !important;
				border-left-style: solid !important;
			}
		}
		&-none {
			border: none !important;
		}
	}
	@include pc {
		&pc\:bd {
			border: 1px solid currentColor;
			&t {
				border-top: 1px solid currentColor;
				&-none {
					border-top: none !important;
				}
			}
			&r {
				border-right: 1px solid currentColor;
				&-none {
					border-right: none !important;
				}
			}
			&b {
				border-bottom: 1px solid currentColor;
				&-none {
					border-bottom: none !important;
				}
			}
			&l {
				border-left: 1px solid currentColor;
				&-none {
					border-left: none !important;
				}
			}
			@for $i from 1 through 10 {
				&-#{$i} {
					border-width: #{$i}px !important;
					border-style: solid !important;
				}
				&t-#{$i} {
					border-width: #{$i}px !important;
					border-top-style: solid !important;
				}
				&r-#{$i} {
					border-width: #{$i}px !important;
					border-right-style: solid !important;
				}
				&b-#{$i} {
					border-width: #{$i}px !important;
					border-bottom-style: solid !important;
				}
				&l-#{$i} {
					border-width: #{$i}px !important;
					border-left-style: solid !important;
				}
			}
			&-none {
				border: none !important;
			}
		}
	}
	@include sp {
		&sp\:bd {
			border: 1px solid currentColor;
			&t {
				border-top: 1px solid currentColor;
				&-none {
					border-top: none !important;
				}
			}
			&r {
				border-right: 1px solid currentColor;
				&-none {
					border-right: none !important;
				}
			}
			&b {
				border-bottom: 1px solid currentColor;
				&-none {
					border-bottom: none !important;
				}
			}
			&l {
				border-left: 1px solid currentColor;
				&-none {
					border-left: none !important;
				}
			}
			@for $i from 1 through 10 {
				&-#{$i} {
					border-width: #{$i}px !important;
					border-style: solid !important;
				}
				&t-#{$i} {
					border-width: #{$i}px !important;
					border-top-style: solid !important;
				}
				&r-#{$i} {
					border-width: #{$i}px !important;
					border-right-style: solid !important;
				}
				&b-#{$i} {
					border-width: #{$i}px !important;
					border-bottom-style: solid !important;
				}
				&l-#{$i} {
					border-width: #{$i}px !important;
					border-left-style: solid !important;
				}
			}
			&-none {
				border: none !important;
			}
		}
	}

  // ボーダーカラー
	&bdc {
    &-red {
      border-color: $red !important;
    }
    &-blue {
      border-color: $blue !important;
    }
    &-black {
      border-color: $d-color-bg !important;
    }
    &-black-1 {
      border-color: $d-color-bg-1 !important;
    }
    &-white {
      border-color: $d-color-font !important;
    }
    &-gray {
      border-color: $d-color-border !important;
    }
    &-gray-1 {
      border-color: $d-color-border-active !important;
    }
	}

  // ボタン
  &btn {
    display: block;
    line-height: 1.4;
    background-color: $blue;
    border-radius: $radius;
    width: fit-content;
    font-size: 1.6rem;
    min-width: 25rem;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    @include hover {
      filter: brightness($dark);
    }
    &.opt{
      &-size{
        &-full{
          width: 100%;
          min-width: initial;
        }
        &-l{
          min-width: 35rem;
          font-size: 1.25em;
          font-weight: bold;
        }
        &-s{
          min-width: 20rem;
          font-size: .8em;
        }
        &-ss{
          min-width: 10rem;
          font-size: .7em;
        }
      }
    }
    &.type{
      &-1 {
        background-color: $d-color-border;
        border: 1px solid $d-color-border-active;
          @include hover {
            filter: brightness($light);
          }
          &.u-bg-red,
          &.u-bg-blue {
            @include hover {
              filter: brightness($dark);
            }
          }
      }
    }
    &-1 {
      cursor: pointer;
      width: auto;
      height: 5rem;
      aspect-ratio: 1 / 1;
      display: block;
      text-align: center;
      line-height: 5rem;
      border-radius: $radius;
      border: 1px solid $d-color-border;
      background-color: $d-color-bg;
      @include hover {
        filter: brightness($light);
      }
      &.type {
        &-1 {
          background-color: $d-color-border;
          @include hover {
            filter: brightness($light);
          }
          &.u-bg-red,
          &.u-bg-blue {
            @include hover {
              filter: brightness($dark);
            }
          }
        }
      }
      &.opt {
        &-size{
          &-s {
            height: 3rem;
            line-height: 3rem;
            font-size: 1.3rem;
          }
          &-ss {
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
          }
        }
      }
    }
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &.opt {
        &-left {
          align-items: flex-start;
        }
        &-right {
          align-items: flex-end;
        }
      }
      &.pc\:opt {
        @include pc {
          &-left {
            align-items: flex-start;
          }
          &-right {
            align-items: flex-end;
          }
        }
      }
      &.sp\:opt {
        @include sp {
          &-left {
            align-items: flex-start;
          }
          &-right {
            align-items: flex-end;
          }
        }
      }
    }
  }

  // リンク
  &link {
    color: $blue;
    text-decoration: underline;
    @include hover {
      filter: brightness($dark);
    }
    &.type {
      &-1 {
        color: $d-color-font;
        @include hover {
          color: $red;
        }
      }
    }
  }

  // 外部リンクの表示
  &btn, &link {
    &[target="_blank"]::after{
      font-family: "Font Awesome 6 Free"; 
      font-weight: 900; 
      content: "\f35d";
      margin-left: 0.4em;
      font-size: 0.9em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  // セクション
  &sec {
    padding-top: 5rem;
    padding-bottom: 5rem;
    + .u-sec {
      border-top: 1px solid $d-color-border;
    }
    &:first-of-type {
      border-top: 1px solid $d-color-border;
    }
    // &:last-of-type {
    //   border-top: 1px solid $d-color-border;
    //   padding-bottom: 15rem;
    // }
  }

  // インナー
  &inner {
    padding-left: $padding-x;
    padding-right: $padding-x;
    @include pc {
      max-width: $width-1;
      margin-left: auto;
      margin-right: auto;
    }

    &-1 {
      padding-left: $padding-x;
      padding-right: $padding-x;
      @include pc {
        max-width: calc(80rem + #{$padding-x} * 2);
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-2 {
      padding-left: $padding-x;
      padding-right: $padding-x;
      @include pc {
        max-width: calc(100rem + #{$padding-x} * 2);
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-3 {
      padding-left: $padding-x;
      padding-right: $padding-x;
      @include pc {
        max-width: calc(120rem + #{$padding-x} * 2);
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-4 {
      @include pc {
        width: calc(100% - 20rem);
        margin-left: auto;
        margin-right: auto;
      }
      @include sp {
        padding-left: $padding-x;
        padding-right: $padding-x;
      }
    }
  }
  
  // 2カラムレイアウト
  &col2 {
    $col2_side_width: 30rem;
    $col2_side_width-sp: 20rem;
    display: flex;
    align-items: flex-start;
    @include pc {
    }
    &-main {
      transition: width ease .3s;
      position: relative;
      @include pc {
        width: calc(100% - #{$col2_side_width});
      }
      @include sp {
        width: calc(100% - #{$col2_side_width-sp});
      }
    }
    &-main-inner {
      @include sp {
        width: 100vw;
      }
    }
    &-drawer {
      position: absolute;
      top: 0;
      left: -3rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .icon-right,
      .icon-left {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
      .icon-right {
        opacity: 1;
      }
      .icon-left {
        opacity: 0;
      }
    }
    &-side {
      border-left: 1px solid $d-color-border;
      background-color: $d-color-bg;
      position: sticky;
      top: $hight-header;
      right: 0;
      height: calc(100vh - #{$hight-header});
      transition: width ease .3s;
      @include pc {
        width: $col2_side_width;
      }
      @include sp {
        width: $col2_side_width-sp;
      }
    }
    &-side-content {
      overflow: hidden;
      &:has(.u-side) {
        height: 100%;
        .u-col2-side-inner {
          height: 100%;
        }
      }
    }
    &-side-inner {
      @include pc {
        width: $col2_side_width;
      }
      @include sp {
        width: $col2_side_width-sp;
      }
    }
    &.is-close{
      .u-col2-main {
        width: 100%;
      }
      .u-col2-side {
        width: 0px;
      }
      .u-col2-drawer {
        .icon-right {
          opacity: 0;
        }
        .icon-left {
          opacity: 1;
        }
      }
    }
  }

  //メニュー
  &menu {
    a {
      display: block;
      padding: .5rem $padding-x;
      @include hover {
        background-color: $d-color-bg-active;
      }
      .fa-solid {
        min-width: 1.5em;
      }
    }
  }

  // スクロール位置調整
  &scroll-target {
    margin-top: calc(#{$hight-header} * -1);
    padding-top: $hight-header;
  }

  // コードブロック
  &code {
    position: relative;
    &-copy_btn {
      position: absolute;
      top: 0;
      right: 0rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    pre.prettyprint {
      background-color: $d-color-bg-1;
      font-size: 1.4rem;
      line-height: 1.6;
      overflow-wrap: break-word;
      border: 1px solid $d-color-border;
      padding-right: 4rem;
      font-family: Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace,serif;
      border-radius: $radius;
    }
  }

  // フォームのフィールド
  &field {
    width: 100%;
    padding: 0.5em;
    background: $d-color-font;
    border: 1px solid $d-color-font-1;
    border-radius: $radius;
    @include pc {
      font-size: 1.6rem;
    }
    @include sp {
      font-size: 1.4rem;
    }
    &::placeholder {
      color: $d-color-font-1;
    }
    &-text_area {
      min-height: 20em;
      @extend .u-field;
    }
  }

  // テキスト配置
  &ta{
    &-c {
      text-align: center;
    }
    &-l {
      text-align: left;
    }
    &-r {
      text-align: right;
    }
  }
  @include pc {
		&pc\:ta {
      &-c {
        text-align: center;
      }
      &-l {
        text-align: left;
      }
      &-r {
        text-align: right;
      }
		}
	}
  @include sp {
		&sp\:ta {
      &-c {
        text-align: center;
      }
      &-l {
        text-align: left;
      }
      &-r {
        text-align: right;
      }
		}
	}

  // 最大高さオーバーフロー
  &maxh{
    $maxh-rem-step: 50;
    $maxh-vh-step: 10;

    @for $i from 50 through 500 {
      @if $i % $maxh-rem-step == 0 {
        &-#{$i} {
          max-height: #{($i / 10)}rem;
          overflow: auto;
        }
      }
    }
  }

  // サイドナビ 
  &side {
    display: flex;
    flex-direction: column;
    height: 100%;
    &-body{
      max-height: calc(100vh - #{$hight-header});
      overflow: auto;
    }
    &-foot{
      margin-top: auto;
      padding: 2rem 1.5rem;
      height: 10rem;
    }
    &:has(.u-side-foot) {
      .u-side-body {
        max-height: calc(100vh - #{$hight-header} - 4rem - 6rem);
      }
    }
  }

  // 非活性
  &inactive {
    pointer-events: none;
    color: $d-color-font-inactive;
    &[class*="btn"]{
      background-color: $d-color-bg-inactive;
    }
  }

  // リスト
  &list {
    &-item {
      border-bottom: 2px solid $d-color-font;
    }
  }

  // プロフィール
  &pf {
    &-wrap{
      img {
        margin: .5rem;
        width: 4rem;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: $radius;
      }
      a {
        display: flex;
        align-items: center;
        @include hover {
          filter: brightness($light)
        }
      }
      &:not(:has(a)) {
        display: flex;
        align-items: center;
      }
    }
    &-name {
      margin-left: 1em;
    }
  }

  // テーブル
  &table {
    overflow: auto;
    width: 100%;
    table {
      width: 100%;
    }
    td, th {
      padding: .5em 1em;
      white-space: nowrap;
    }
    tr {
      border-bottom: 2px solid $d-color-font;
      > *:first-of-type {
        padding-left: 0;
      }
      > *:last-of-type {
        padding-right: 0;
        text-align: right;
      }
    }
    &-1 {
      overflow: auto;
      width: 100%;
      table {
        width: 100%;
      }
      td, th {
        padding: .5em 1em;
        white-space: nowrap;
        border: 1px solid $d-color-border;
      }
      th {
        background: $d-color-bg-active;
      }
      thead {
        th {
          border-right: 1px solid $d-color-bg;
          border-left: 1px solid $d-color-bg;
          &:first-child {
            border-left: 1px solid $d-color-border;
          }
          &:last-child {
            border-right: 1px solid $d-color-border;
          }
        }
      }
    }
  }

  // 差分
  &diff {
    @include pc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:first-child {
        @include pc {
          padding-right: 5rem;
          border-right: 1px solid $d-color-font;
        }
      }
      &:last-child {
        @include pc {
          padding-left: 5rem;
          border-left: 1px solid $d-color-font;
        }
        @include sp {
          margin-top: 3rem;
        }
      }
      &.opt{
        &-left {
          align-items: initial;
        }
      }
    }
    &-content-full {
      width: 100%;
    }
  }

  // カード
  &card {
    position: relative;
    &-wrap {
      display: grid;
      gap: $padding-x;
      height: 100%;
      @include pc {
        grid-template-columns: repeat(3, 1fr);
      }
      @include sp {
        grid-template-columns: repeat(1, 1fr);
      }
      a {
        height: 100%;
      }
    }
    &-wrap-center{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $padding-x;
    }
    &-date {
      font-size: .8em;
      color: $d-color-font-inactive;
      margin-top: 0.5rem;
    }
    &-title {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.4;
      margin-top: 0.5rem;
    }
    &-tag {
      display: block;
      height: 100%;
      width: 1rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      .u-btn-1 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    &-labels {
      margin-top: 1rem;
    }
    &-label {
      display: inline-block;
      background-color: #303030;
      font-size: 1rem;
      line-height: 1;
      padding: .5em;
      border-radius: $radius;
    }
    > a {
      display: block;
      position: relative;
      background-color: $d-color-bg-1;
      border: 1px solid $d-color-border;
      padding: $padding-x;
      transition: translate 0.2s ease, box-shadow 0.2s ease;
      border-radius: $radius;
      box-shadow: 0 0 0px rgba(0, 0, 0, 1);
      @include hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
        z-index: 10;
        translate: 0 -4px;
      }
    }
    .u-pf-wrap {
      img {
        width: 3rem;
      }
    }
    .u-pf-name {
      margin-left: 0.5rem;
    }
    &:not(:has(>a)) {
      background-color: $d-color-bg-1;
      border: 1px solid $d-color-border;
      padding: $padding-x;
    }
  }

  // フレックス
  &flex {
    &-between {
      display: flex;
      justify-content: space-between;
      &.opt{
        &-center-y {
          align-items: center;
        }
      }
    }
  }

  // ユーザー
  &user {
    &s {
      display: grid;
      gap: $padding-x;
      @include pc {
        grid-template-columns: repeat(6, 1fr);
      }
      @include sp {
        grid-template-columns: repeat(3, 1fr)
      }
    }
    &-image {
      border-radius: 1rem;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
      }
    }
    &-name {
      text-align: center;
      margin-top: 1rem;
    }
  }

  // チャット
  &chat {
    max-height: calc(100vh - 40rem);
    overflow: auto;
    &-item {
      display: flex;
      align-items: flex-end;
      gap: 3rem;
      &.is-me {
        flex-direction: row-reverse;
        .u-chat-comment::after {
          left: initial;
          right: 0;
          border-width: 0 0 1rem 1rem;
          border-color: transparent transparent transparent $d-color-font;
          translate: 100% calc(-50% - 0.4px);
          transform-origin: left;
        }
      }
      + .u-chat-item {
        margin-top: 3rem;
      }
    }
    &-userimg{
      flex-shrink: 0;
      img {
        width: 3rem;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: $radius;
      }
    }
    &-meta{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 1rem;
      margin-bottom: 0.5rem;
      line-height: 1;
    }
    &-meta-left{
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 1rem;
    }
    &-meta-right{
      .u-link.type-1 {
        font-size: 1.2rem;
      }
    }
    &-date {
      font-size: 1rem;
    }
    &-comment{
      background: $d-color-font;
      color: $d-color-bg;
      width: fit-content;
      min-width: 20rem;
      padding: 1rem $padding-x;
      border-radius: $radius;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0rem;
        left: 0;
        border-style: solid;
        border-width: 0 1rem 1rem 0;
        border-color: transparent $d-color-font transparent transparent;
        translate: -100% calc(-50% - 0.4px);
        transform: skew(0, 0);
        transform-origin: right;
      }
    }
    &-text{
      line-height: 1.4;
    }
    &-form {
      margin-top: 3rem;
    }
  }
}