$blue: #0076CF; // アクセントカラー
$red: #C6423A; // 注意カラー

$d-color-bg: #131313; // ベース色
$d-color-bg-active: #2C2C30; // ベース色_活性
$d-color-bg-1: #191919; // ベース色_より明るい
$d-color-font: #ccc; // 文字色
$d-color-font-inactive: #656565; // 文字色_非活性
$d-color-font-1: #808080; // プレースホルダー文字色
$d-color-border: #303030; // ボーダーカラー
$d-color-border-active: #3e3e3e; // ボーダーカラー_活性
$d-color-bg-inactive: #565656; // 非活性背景色

$a: #A3A3A3; // 文字色
$a: #5b5b5b; // 文字色-非活性時
$b: #6b6b6b; // 文字色

$b: #1d1d1d; // ボックス内
$b: #1d1d1d; // ボックス内
$b: #272727; // ボックス内, ↑活性時
$b: #303030; // ボーダーカラー

$padding-x: 1.5rem;

$width-1: 39rem;
$hight-header: 8rem;

$radius: .3rem;

$dark: 85%;
$light: 145%;