<button type="button" id="js-col2-drawer" class="u-btn-1 type-1 opt-size-s u-col2-drawer" aria-label="サイドメニューを開閉する ">
  <span class="icon-right">
    <i class="fa-solid fa-arrow-right"></i>
  </span>
  <span class="icon-left">
    <i class="fa-solid fa-arrow-left"></i>
  </span>
</button>