<footer class="footer">
  <div class="footer-inner">
    <p class="footer-copyright">&copy; kkraoi for oshi_no_Co_de</p>

    <button id="js-to-top" class="u-btn-1 footer-btn-to_top" aria-label="トップの位置に戻る">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </div>
</footer>