<footer class="footer">
  <p class="footer-copyright">&copy; kkraoi</p>

  <button id="js-to-top" class="btn-top" aria-label="トップの位置に戻る">
    <i class="fa-solid fa-arrow-up"></i>
  </button>
</footer>