<footer class="footer">
  <div class="u-inner">
    <p class="footer-copyright">&copy; kkraoi</p>

    <button id="js-to-top" class="btn footer-btn-to_top" aria-label="トップの位置に戻る">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </div>
</footer>