<header class="header" id="js-header">
  <figure class="header-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.webp", size: "200x200" %>
    <% end %>
  </figure>

  <nav class="header-nav">
    <div class="header-nav-inner">
      <%= render menu_partial %>
    </div>
  </nav>

  <button class="u-btn-1 header-nav-trigger" id="js-nav-trigger" aria-label="ナビゲーションメニューを開く ナビゲーションメニューを閉じる">
    <span role="presentation"></span>
    <span role="presentation"></span>
  </button>
</header>