pre.prettyprint {
  width: 100% !important;
  background-color: #202020 !important;
  font-size: 14px;
  line-height: 1.6;
  font-family: Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}