<% content_for :title, "通報｜フィードバック" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <h1 class="u-title">通報に対するフィードバック</h1>
  <div class="u-inner-1">
    <div class="u-vert-50">
      <article>
        <h2 class="u-title-2">対象のコメント</h2>
        <p><%= @report.comment.content %></p>
        <p class="u-ta-r u-mt-10">by <%= @report.comment.user.name %></p>
      </article>

      <article>
        <h2 class="u-title-2">通報理由</h2>
        <p><%= @report.reason %></p>
        <p class="u-ta-r u-mt-10">by <%= @report.user.name %></p>
      </article>

      
    </div>
  </div>
</section>