<% content_for :title, "ページタイトル" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <div class="u-inner">
      <h1 class="u-title">タイトル</h1>
  </div>
</section>