@import "base/val";
@import "base/mixins";
@import "base/reset";
@import "base/normalize";
@import "base/parts";

html {
  scroll-behavior: smooth;
  background-color: $d-color-bg;
  color: $d-color-font;
  @include pc {
    font-size: clamp(0px, .6944444444vw, 10px);
  }
  @include sp {
    font-size: calc((10 / 390) * 100vw);
  }
  &:has(.header.is-active) {
    @include sp {
      overflow: hidden;
    }
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "Helvetica Neue", "Original Yu Gothic", YuGothic, Meiryo, Arial, system-ui, sans-serif;
  word-break: break-all;
	font-size: 1.4rem;
  letter-spacing: 0.08em;
  line-height: 1.8;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: $hight-header;
  border-bottom: 1px solid $d-color-border;
  background-color: $d-color-bg;

  &-logo {
    width: 10rem;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    @include pc {
      left: 3rem;
    }
    @include pc {
      left: $padding-x;
    }
  }

  &-nav {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    @include pc {
      width: $width-1;
    }
    @include sp {
      width: 100%;
    }
    a {
      font-size: 1.8rem;
    }
  }
  &-nav-inner{
    position: relative;
    height: 100vh;
    background: $d-color-bg;
    padding-top: 15rem;
    opacity: 0;
    translate: 50px 0;
    transition: opacity 0.3s ease, translate  0.3s ease;
    @include pc {
      border-left: 1px solid $d-color-border;
    }
  }

  &-nav-trigger {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    @include pc {
      right: 3rem;
    }
    @include sp {
      right: $padding-x;
    }
    > span {
      display: block; 
      background: currentColor;
      width: 70%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: translate .3s ease .3s, rotate .3s ease;
      &:first-child {
        translate: -50% calc(-50% + .5rem);
      }
      &:last-child {
        translate: -50% calc(-50% - .5rem);
      }
    }
  }

  &.is-active {
    .header-nav {
      pointer-events: initial;
    }
    .header-nav-inner {
      opacity: 1;
      translate: none;
    }
    .header-nav-trigger {
      > span {
        translate: -50% -50%;
        transition: translate .3s ease, rotate .3s ease .3s;
        &:first-child {
          rotate: 30deg;
        }
        &:last-child {
          rotate: -30deg;
        }
      }
    }
  }
}

.footer {
  border-top: 1px solid $d-color-border;
  @include pc {
    padding: 5rem 3rem;
  }
  @include sp {
    padding: 5rem $padding-x;
  }
  &-inner {
    position: relative;
  }
  &-copyright {
    text-align: center;
    font-size: 1.2rem;
  }
  &-btn-to_top {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
  }
}

.toast {
  pointer-events: visible;
  background-color: $d-color-bg-active;
  border: 1px solid $d-color-border-active;
  padding: 1rem 4rem 1rem 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  border-radius: $radius;
  position: relative;
  &-area {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    pointer-events: none;
    z-index: 1000;
    @include pc {
      min-width: $width-1;
    }
  }
  &-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: $d-color-bg;
    border-bottom-left-radius: $radius;
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }
  &.is-alert {
    color: $red;
  }
  &.is-close {
    pointer-events: none;
    translate: 0 -10px;
    opacity: 0;
    transition: translate ease .3s, opacity ease .3s;
  }
}
#js-toast-1{

}