<% content_for :title, "#{@user.name}の参加グループ" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <div class="u-inner-3">
    <h1 class="u-title"><%= @user.name %>の参加グループ</h1>

    <div class="u-table">
      <table>
        <tbody>
          <%= render 'public/groups/index', groups: @groups %>
        </tbody>
      </table>

      <div class="u-btn-wrap u-mt-50">
        <%= link_to new_group_path, class: 'u-btn' do %>
          <i class="fa-solid fa-square-plus"></i> グループ作成
        <% end %>
      </div>
    </div>
  </div>
</section>